[submodule "sw"]
	path = sw
	url = http://www.github.com/danpage/scale-sw.git
[submodule "hw"]
	path = hw
	url = http://www.github.com/danpage/scale-hw.git
[submodule "data"]
	path = data
	url = http://www.github.com/danpage/scale-data.git
